<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.prb.erp.domain.sms.master.SendMasterMapper">
 	<!-- 문자조회 -->
    <select id="getSendList" resultType="sendMasterVO" parameterType="hashMap" statementType="PREPARED">   
    	DECLARE @RowsPerPage INT = 10, @PageNumber INT = #{map.pageNumber}
    	SELECT * FROM (
			SELECT   A.SEND_CODE sendCode,
			         B.SEND_SEQ sendSeq,
			         A.SEND_TYPE sendType,
				     DBO.FN_BASECODE('SEND_TYPE',A.SEND_TYPE,'') sendTypeNm,
			         A.SMS_TYPE smsType,
				     DBO.FN_BASECODE('SMS_TYPE',A.SMS_TYPE,'') smsTypeNm,
			         A.SEND_DT sendDt,
			         case when A.SEND_DT > getdate()  AND A.SEND_TYPE = '20' then 'Y' else 'N' end deleteYn,
			         A.SEND_MESSAGE sendMessage,
			         D.ORG_CD orgCd,
			         (SELECT Z.ORG_NM FROM TB_ERP_AREA100 Z WHERE Z.ORG_CD = D.ORG_CD AND Z.ORG_CLASS = D.ORG_CLASS) orgNm,   
			         A.SENDER_USER_CD sendUserCd,
			         D.USER_NM sendUserNm,
			         A.SENDER_NO senderNo,
			         E.USER_TYPE userType,
				     DBO.FN_BASECODE('USER_TYPE',E.USER_TYPE,'') userTypeNm, 
			         B.USER_CD userCd,
			         E.USER_NM userNm,
			         B.HP_NO hpNo,
			         B.SUCCESS_YN successYn,
				     DBO.FN_BASECODE('SMS_RESULT',B.SUCCESS_YN,'') successYnNm,
			         C.USER_CD regUserCd,
			         C.USER_NM regUserNm,
			         CONVERT(CHAR(10), A.UPDATED_AT, 23) regDt,
			         ROW_NUMBER() OVER (ORDER BY A.UPDATED_AT ASC) AS RowNum,
			         ROW_NUMBER() OVER (ORDER BY A.UPDATED_AT DESC) AS RowNum2
			FROM     TB_ERP_SMS000 A
			         INNER JOIN TB_ERP_SMS100 B
			         ON       A.SEND_CODE = B.SEND_CODE
			         INNER JOIN TB_ERP_USER000 C
			         ON       A.UPDATED_BY = C.USER_CD			 
			         LEFT OUTER JOIN TB_ERP_USER000 D
			         ON       A.SENDER_USER_CD = D.USER_CD	 
			         LEFT OUTER JOIN TB_ERP_USER000 E
			         ON       B.USER_CD = E.USER_CD
			WHERE    1 = 1
			
			<!-- sms 코드 -->
			<if test="map.sendCode != null and map.sendCode != ''">  
					AND A.SEND_CODE = #{map.sendCode}
			</if>   
			
			<!-- 보낸사람 -->
			<if test="map.senderUserNm != null and map.senderUserNm != ''">  
			</if>       
			         
			<!-- 문자구분 -->
			<if test="map.sendType != null and map.sendType != ''">  
					AND A.SEND_TYPE = #{map.sendType}
			</if>       
			
			<!-- 문자종류 -->
			<if test="map.smsType != null and map.smsType != ''">  
					AND A.SMS_TYPE = #{map.smsType}
			</if>       
			
			<!-- 발송결과 -->
			<if test="map.successYn != null and map.successYn != ''">  
					AND B.SUCCESS_YN = #{map.successYn}
			</if>       
			
			<!-- 회원구분 -->
			<if test="map.userType != null and map.userType != ''">  
			</if>       
						         
			<!-- 내용 -->
			<if test="map.sendMessage != null and map.sendMessage != ''">  
					AND A.SEND_MESSAGE LIKE '%'+#{map.sendMessage}+'%'
			</if>       
			
			<!-- 수신자명 -->
			<if test="map.userNm != null and map.userNm != ''">  
			</if>       
			
			<!-- 수신번호 -->
			<if test="map.hpNo != null and map.hpNo != ''">  
					AND B.HP_NO = #{map.hpNo}
			</if>
			
			<!--등록일 시작 -->				 
			<if test="map.fromDt != null and map.fromDt != ''">  
					<![CDATA[  
						AND CONVERT(CHAR(10), A.SEND_DT, 23)  >= #{map.fromDt}
		  			]]>
			</if>    
			
			<!--등록일 종료 -->				 
			<if test="map.toDt != null and map.toDt != ''">  
					<![CDATA[  
						AND CONVERT(CHAR(10), A.SEND_DT, 23)  <= #{map.toDt}
		  			]]>
			</if>    
			
			<!-- 조직 -->
			<if test="map.orgCd != null and map.orgCd != ''">  			
					AND D.ORG_CD IN (SELECT ORG_CD from DBO.FN_ORGCD(#{map.orgCd}))
			</if>       
			
			) AS SOD
	   
		WHERE SOD.RowNum2 BETWEEN ((@PageNumber-1)*@RowsPerPage)+1
		AND @RowsPerPage*(@PageNumber)
    </select>
    
    <!-- 문자조회 -->
    <select id="getSendListCount" resultType="java.lang.Integer" parameterType="hashMap" statementType="PREPARED">   
			SELECT   COUNT(1)
			FROM     TB_ERP_SMS000 A
			         INNER JOIN TB_ERP_SMS100 B
			         ON       A.SEND_CODE = B.SEND_CODE
			         INNER JOIN TB_ERP_USER000 C
			         ON       A.UPDATED_BY = C.USER_CD			 
			         LEFT OUTER JOIN TB_ERP_USER000 D
			         ON       A.SENDER_USER_CD = D.USER_CD	 
			         LEFT OUTER JOIN TB_ERP_USER000 E
			         ON       B.USER_CD = E.USER_CD
			WHERE    1 = 1
			
			<!-- sms 코드 -->
			<if test="map.sendCode != null and map.sendCode != ''">  
					AND A.SEND_CODE = #{map.sendCode}
			</if>   
			
			<!-- 보낸사람 -->
			<if test="map.senderUserNm != null and map.senderUserNm != ''">  
			</if>       
			         
			<!-- 문자구분 -->
			<if test="map.sendType != null and map.sendType != ''">  
					AND A.SEND_TYPE = #{map.sendType}
			</if>       
			
			<!-- 문자종류 -->
			<if test="map.smsType != null and map.smsType != ''">  
					AND A.SMS_TYPE = #{map.smsType}
			</if>       
			
			<!-- 발송결과 -->
			<if test="map.successYn != null and map.successYn != ''">  
					AND B.SUCCESS_YN = #{map.successYn}
			</if>       
			
			<!-- 회원구분 -->
			<if test="map.userType != null and map.userType != ''">  
			</if>       
						         
			<!-- 내용 -->
			<if test="map.sendMessage != null and map.sendMessage != ''">  
					AND A.SEND_MESSAGE LIKE '%'+#{map.sendMessage}+'%'
			</if>       
			
			<!-- 수신자명 -->
			<if test="map.userNm != null and map.userNm != ''">  
			</if>       
			
			<!-- 수신번호 -->
			<if test="map.hpNo != null and map.hpNo != ''">  
					AND B.HP_NO = #{map.hpNo}
			</if>
			
			<!--등록일 시작 -->				 
			<if test="map.fromDt != null and map.fromDt != ''">  
					<![CDATA[  
						AND CONVERT(CHAR(10), A.SEND_DT, 23)  >= #{map.fromDt}
		  			]]>
			</if>    
			
			<!--등록일 종료 -->				 
			<if test="map.toDt != null and map.toDt != ''">  
					<![CDATA[  
						AND CONVERT(CHAR(10), A.SEND_DT, 23)  <= #{map.toDt}
		  			]]>
			</if>    
			
			<!-- 조직 -->
			<if test="map.orgCd != null and map.orgCd != ''">  			
					AND D.ORG_CD IN (SELECT ORG_CD from DBO.FN_ORGCD(#{map.orgCd}))
			</if>       
    </select>
    
    
 	<!-- 회원조회-문자대상 -->
    <select id="getSmsUserList" resultType="sendSmsUserListVO" parameterType="hashMap" statementType="PREPARED">   
    	DECLARE @RowsPerPage INT = 10, @PageNumber INT = #{map.pageNumber}
    	SELECT * FROM (
				SELECT USER_TYPE userType,
				       DBO.FN_BASECODE('USER_TYPE',USER_TYPE,'') userTypeNm,
				       USER_NM userNm ,
				       USER_CD userCd ,
				       HP_NO hpNo,
			         ROW_NUMBER() OVER (ORDER BY A.UPDATED_AT ASC) AS RowNum,
			         ROW_NUMBER() OVER (ORDER BY A.UPDATED_AT DESC) AS RowNum2
				FROM TB_ERP_USER000 A
				WHERE USER_TYPE IN ('30','40')
			         
			<!-- 회원구분 -->
			<if test="map.userType != null and map.userType != ''">  
					AND USER_TYPE = #{map.userType}
			</if>       
			
			<!-- 이름 -->
			<if test="map.userNm != null and map.userNm != ''">  
					AND USER_NM = #{map.userNm}
			</if>   
			
			<!-- ID -->
			<if test="map.userCd != null and map.userCd != ''">  
					AND USER_CD = #{map.userCd}
			</if>   
			
			<!-- 전화번호 -->
			<if test="map.hpNo != null and map.hpNo != ''">  
					AND REPLACE(HP_NO,'-','') LIKE UPPER('%'+#{map.searchText}+'%')
			</if>       			         
			
			) AS SOD
	   
		WHERE SOD.RowNum2 BETWEEN ((@PageNumber-1)*@RowsPerPage)+1
		AND @RowsPerPage*(@PageNumber)
    </select>
    
    
 	<!-- 회원조회-문자대상 count -->
    <select id="getSmsUserListCount" resultType="java.lang.Integer" parameterType="hashMap" statementType="PREPARED">   
			SELECT COUNT(1)
			FROM TB_ERP_USER000 
			WHERE USER_TYPE IN ('30','40')

			<!-- 회원구분 -->
			<if test="map.userType != null and map.userType != ''">
				AND USER_TYPE = #{map.userType}
			</if>

			<!-- 이름 -->
			<if test="map.userNm != null and map.userNm != ''">
				AND USER_NM = #{map.userNm}
			</if>

			<!-- ID -->
			<if test="map.userCd != null and map.userCd != ''">
				AND USER_CD = #{map.userCd}
			</if>

			<!-- 전화번호 -->
			<if test="map.hpNo != null and map.hpNo != ''">
				AND REPLACE(HP_NO,'-','') LIKE UPPER('%'+#{map.searchText}+'%')
			</if>
	</select>
    
</mapper>
