<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.prb.erp.domain.kicc.KiccResultMapper">
 	
	<insert id="saveKiccPaymentResultLog">
		INSERT INTO TB_ERP_KICC_RESULT
		(
			CUST_CD, RES_CD, RES_MSG, CNO, AMOUNT, ORDER_NO, AUTH_NO,
			TRAN_DATE, ESCROW_YN, COMPLEX_YN, STAT_CD, STAT_MSG, PAY_TYPE,
			 MALL_ID, CARD_NO, ISSUER_NO, ISSUER_NM, ACQUIRER_CD, ACQUIRER_NM,
			 INSTALL_PERIOD, NOINT, PART_CANCEL_YN, CARD_GUBUN, CARD_BIZ_GUBUN,
			 CPON_FLAG, USED_CPON, CANC_ACQ_DATE, CANC_DATE, ACCOUNT_NO
		)
		VALUES
		(
			#{custCd}, #{resCd}, #{resMsg}, #{cno}, #{amount}, #{orderNo}, #{authNo},
			#{tranDate}, #{escrowYn}, #{complexYn}, #{statCd}, #{statMsg}, #{payType},
			#{mallId}, #{cardNo}, #{issuerNo}, #{issuerNm}, #{acquirerCd}, #{acquirerNm},
			#{installPeriod}, #{noint}, #{partCancelYn}, #{cardGubun}, #{cardBizGubun},
			#{cponFlag}, #{usedCpon}, #{cancAcqDate}, #{cancDate}, #{accountNo}
		)
	</insert>

</mapper>
